---
import Select from './Select.astro'
import { entries, keys } from '@/utils/objects'
import { NAVIGATION } from '@/content/navigation'

const { slug } = Astro.params
const pkg = slug?.split('/')[0] as keyof typeof NAVIGATION

// we could do getCollections and map them programatically, but since we need to do sorting
// anyways if we want other order than alphabetical, we might as well hard-code it
// as it's more performant to write a static json-like structure than do sorting and mutation in JS
const chapters = NAVIGATION[pkg] ?? {}
console.log(chapters)
---

<menu class="sticky inset-0 h-screen min-w-[18%] space-y-4 bg-gray-900/80 p-8">
  <Select
    class="mb-4"
    name="Package"
    options={keys(NAVIGATION).map((pkgName) => ({
      label: `@hulla/${pkgName}`,
      value: pkgName,
    }))}
  />
  {
    entries(chapters).map(([category, chapters]) => (
      <details open>
        <summary class="text-lg font-semibold">{category}</summary>
        <ul class="space-y-1 px-6 py-1">
          {(chapters ?? []).map((chapter) => (
            <li class="font-thin">
              <a href={`/docs/${pkg}/${chapter.url}`}>{chapter.label}</a>
            </li>
          ))}
        </ul>
      </details>
    ))
  }
</menu>
